<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>


<nav th:replace="navbar :: navbar"></nav>

<div class="login">
    <section class="signup">
        <div class="container">

            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form th:action="@{/signUp/processRegistrationForm}"
                        th:object="${crmUser}"  method="POST" class="register-form"
                          id="register-form">
                        <div class="form-group">
                            <div class="col-xs-15">
                                <div>

                                    <!-- Check for registration error -->
                                    <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                        <span th:text="${registrationError}"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name"><i class="fas fa-user"></i></label>

                            <input type="text" name="userName" id="name" th:field="*{userName}"
                                   placeholder="Your Name"/>
                        </div>
                        <div th:if="${#fields.hasErrors('userName')}"
                             style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}" />
                            </ul>
                        </div>


                        <div class="form-group">
                            <label for="email"><i class="fas fa-envelope"></i></label>
                            <input type="email" name="email" id="email" th:field="*{email}"
                                   placeholder="Your Email"/>
                        </div>
                        <div th:if="${#fields.hasErrors('email')}"
                             style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}" />
                            </ul>
                        </div>


                        <div class="form-group">
                            <label for="pass"><i class="fas fa-lock"></i></label>
                            <input type="password" name="password" id="pass" th:field="*{password}"
                                placeholder="Password"/>


                        </div>
                        <div th:if="${#fields.hasErrors('password')}"
                             style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                            </ul>
                        </div>


                        <div class="form-group">
                            <label for="re_pass"><i class="far fa-lock"></i></label>
                            <input type="password" name="rpassword" id="re_pass" th:field="*{matchingPassword}"
                                  placeholder="Repeat your password"/>
                        </div>
                            <div th:if="${#fields.hasErrors('matchingPassword')}"
                                 style="margin-bottom: 25px" class="text-danger">
                                <ul>
                                    <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}" />
                                </ul>
                            </div>

<!--                        <div class="form-group">-->
<!--                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>-->
<!--                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all-->
<!--                                statements in <a href="#" class="term-service">Terms of service</a></label>-->
<!--                        </div>-->
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                    <p class="py-2">Already have an account? <a th:href="@{/showMyLoginPage}">Sign-in</a></p>
                </div>
                <div class="signup-image">
                    <figure><img th:src="@{/img/signup-image.jpg}" alt="image"></figure>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:replace="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
</body>
</html>