<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


</head>
<body>
<nav th:replace="navbar :: navbar"></nav>

<div class="login">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img th:src="@{/img/signin-image.jpg}" alt="image"></figure>
                    <a th:href="@{/signUp/showRegistrationForm}" class="signup-image-link" aria-pressed="true">Register New User</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign In</h2>
                    <form th:action="@{/authenticateTheUser}" method="POST" class="register-form" id="login-form">

                    <div class="form-group">
                        <div class="col-xs-15">
                            <div>

                                <!-- Check for login error -->
                                <div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    Invalid username and password.
                                </div>

                                <!-- Check for logout -->
                                <div th:if="${param.logout}"class="alert alert-success col-xs-offset-1 col-xs-10">
                                    You have been logged out.
                                </div>

                            </div>
                        </div>
                    </div>


                        <div class="form-group">
                            <label for="name"><i class="fas fa-user"></i></label>
                            <input type="text" name="userName" id="name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="fas fa-lock"></i></label>
                            <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        <div>
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                    </form>
<!--                    <div class="social-login">-->
<!--                        <span class="social-label">Or login with</span>-->
<!--                        <ul class="socials">-->
<!--                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>-->
<!--                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>-->
<!--                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>
            </div>


        </div>
    </section>

</div>

<div th:replace="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>